.App {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
h1 {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  text-shadow: 5px 5px 5px rgba(255,0,0),
  5px 5px 5px rgba(0,0,255);
}
h3 {
font-size: 1.3rem;
}
section {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.titles {
  justify-content: space-evenly;
  text-align: center;
  margin: .5rem;
  padding: 1rem;
  color: white;
  font-weight: bold;
  background: linear-gradient(to right top, red, darkblue);
  width: 13rem;
  height: 22rem;
  box-shadow: 5px 5px 5px darkgray;
  border-radius: 5px;
}
.titles > div {
  margin-bottom: 1rem;
}
.genres {
  font-weight: 400;
  margin-top: 1rem;
}
img {
  height: 20px;
  width: auto;
}